.rect-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  // row-gap: map-get($spacers, 4);

  &-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &-tag {
    font-size: map-get($font-sizes, 4);
    @include media-breakpoint-between(md, xxl) {
      font-size: map-get($font-sizes, 5);
    }
  }

  &-title {
    font-size: map-get($font-sizes, 3);
    @include media-breakpoint-between(md, xxl) {
      font-size: map-get($font-sizes, 4);
    }
  }
}
