// main banner
.banner-section {
  display: flex;
  flex-direction: column;

  &-left,
  &-right {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;

    &-left,
    &-right {
      width: 50%;
      &.blog-banner-img {
        width: calc(50% - 12px);
      }
    }
  }

  &-left {
    min-height: 375px;
    object-fit: cover;
  }

  &-right {
    min-height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    &.fix-height-sm {
      min-height: 180px;
    }

    &.fix-height-lg {
      min-height: 440px;
    }

    @include media-breakpoint-up(md) {
      justify-content: center;
    }

    @include media-breakpoint-up(xxl) {
      flex-grow: 1;
    }
  }

  &-title {
    padding-top: map-get($spacers, 6);
    padding-left: map-get($spacers, 6);

    @include media-breakpoint-up(xxl) {
      padding-left: map-get($spacers, c-8);
    }
  }
}

.banner-title {
  &-main {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: map-get($spacers, 3);

    @include media-breakpoint-up(lg) {
      font-size: 80px;
    }
    @media screen and (min-width: 1600px) {
      font-size: 120px;
    }
  }

  &-sub {
    font-size: map-get($font-sizes, 3);
    font-weight: $font-weight-bold;
  }
}

//main banner info
.banner-info {
  &-section {
    margin-top: -160px;
    position: relative;
    z-index: 100;

    @include media-breakpoint-between(md, lg) {
      margin-top: 0;
    }

    @include media-breakpoint-between(lg, xl) {
      margin-top: -80px;
    }
  }
  &-content {
    background-color: $white;
    max-width: 1077px;
    font-size: map-get($font-sizes, 4);
    padding: map-get($spacers, 10) map-get($spacers, 6);

    @include media-breakpoint-up(xxl) {
      font-size: map-get($font-sizes, 3);
      padding: map-get($spacers, c-8) map-get($spacers, 10);
      transform: translateX(-80px);
    }

    .text-first-row {
      margin-bottom: map-get($spacers, 2);
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
  }
}
// blog banner
.blog-banner {
  position: relative;

  &-content {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
