.full-banner-img {
  width: 100vw;
  height: 100vw;
  max-height: 834px;
  object-fit: cover;

  &.fix-height-lg {
    height: 360px;
  }

  &.fix-height-sm {
    height: 180px;
  }

  @include media-breakpoint-up(md) {
    width: 50vw;
    height: auto;

    &.fix-height-lg,
    &.fix-height-sm {
      height: auto;
    }
  }
}

.semi-background {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
}

.banner-title-area {
  position: absolute;
  top: 0;
  left: 0;
}

.banner-title-area {
  padding-top: map-get($spacers, 6);
  padding-left: map-get($spacers, 6);

  @include media-breakpoint-up(md) {
    padding-top: map-get($spacers, 0);
    top: 50%;
    transform: translateY(-50%);
  }

  @include media-breakpoint-up(xxl) {
    padding-left: map-get($spacers, c-8);
  }
}
.main-title {
  font-size: 52px;
  font-weight: 900;
  margin-bottom: map-get($spacers, 3);

  @include media-breakpoint-up(lg) {
    font-size: 80px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 120px;
  }
}

.sub-title {
  font-size: map-get($font-sizes, 3);
  font-weight: $font-weight-bold;
}

.banner-content {
  margin-top: -160px;
  position: relative;
  z-index: 100;

  @include media-breakpoint-between(md, xxl) {
    margin-top: -80px;
  }
}

.sub-content {
  background-color: $white;
  max-width: 1077px;
  font-size: map-get($font-sizes, 4);
  padding: map-get($spacers, 10) map-get($spacers, 6);

  @include media-breakpoint-up(xxl) {
    font-size: map-get($font-sizes, 3);
    padding: map-get($spacers, c-8) map-get($spacers, 10);
    transform: translateX(-80px);
  }

  .text-first-row {
    margin-bottom: map-get($spacers, 2);
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
}
