.nav-link {
  font-size: map-get($font-sizes, 3);
  font-weight: $font-weight-bold;
  color: $dark;
  text-decoration: none;
  padding: map-get($spacers, 4) map-get($spacers, 6);

  &:hover {
    color: $primary;
  }
}
